:root {
    --primColor: #dcdcdc;
    --secoColor: #555555;
    --cornerRad: 4px;
}

.container {
    background-color: var(--primColor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.exit-account {
    position: absolute;
    top: 5px;
    right: 5px;
}
nav {
    display: inline-block;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    /*display: inline-block; один из способов разместить элементы в строку*/
}
.container:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    text-decoration: none;
    line-height: 38px;
}

.hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #eee;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.hidden-menu-ticker {
    display: none;
}

.btn-menu {
    color: #fff;
    background-color: #0058B9;
    padding: 7px;
    position: fixed;
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: left .23s;
    z-index: 3;
    width: 25px;
    float: left;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}
.btn-menu span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
}
.btn-menu span.first {
    margin-top: 0;
}

.hidden-menu-ticker:checked ~ .btn-menu {
    left: 5px;
}
.hidden-menu-ticker:checked ~ .hidden-menu {
    left: 0;
}

.map {
    width: 500px;
    height: 500px;
    background-color: aqua;
}