doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(href='style.css' rel='stylesheet' type='text/css')
    body
        header
            .container
                nav
                    a.exit-account(href='/') Exit
                    audio(controls= '')
                        source(src='music/keks+ukrop.mp3' type='audio/mpeg')
                        a(href='music/keks+ukrop.mp3')
                    input#hmt.hidden-menu-ticker(type='checkbox')
                    label.btn-menu(for='hmt')
                        span.first
                        span.second
                        span.third
                    ul.hidden-menu(style='padding-top: 100px')
                        li
                            a(href='') Добавить/редактировать самокат
                        li
                            a(href='') Выгрузить на место
                        li
                            a(href='') Отгрузить на склад
                        li
                            a(href='/dbs') База данных
                        li
                            a(href='/tariffs') Тарифы
                        li
                            a(href='/rules') Правила
                        li
                            a(href='') Профиль
                        li
                            a.about
        #ya-map.map
        script(src='https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU')
        script(src='javascripts/map.js' type='module')
        footer
