doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Тарифы
        link(href='style.css' rel='stylesheet' type='text/css')
    body
        header
            .container
                a.back-main(href='/main') Back
                a.exit-account(href='/exit') Exit

        h1.tariffs-description Тарифы: все дорого


        footer
